.login-form{
  height: 100%;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  margin: auto;
  /* display: block; */
  align-items: center;
  display: flex;
  flex-direction: column;

  &__content{
    display: block;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #EDEDED;
    margin: 30px;
    &__input{
      input{
        margin-top: 5px;
      }
      .error{
        font-size: 11px;
        /* text-align: left; */
        float: left;
        font-style: italic;
        color: red;
      }
      .ant-row{
        margin-top: 10px;
      }
      margin-bottom: 20px;
    }

    .kep-login-facebook {
      border-radius: 5px !important;
      /* height: 20px; */
      padding: 14px;
      margin-bottom: 8px;
    }
    .googleBtn{
      border-radius: 5px !important;
    }
  }
}